<!DOCTYPE html>
<html>
<head>
	<title>Ardos</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/ace.css" />
	<script src="/js/jquery-3.1.0.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico?v=2" />
	
</head>
<body>

<div class="container">
	<div class="header clearfix">
	<nav>
		<ul class="nav nav-pills pull-right">
		{{#if user}}
			<li role="presentation"><a href="/">Dashboard</a></li>
		{{/if}}
		{{#if admin}}
			<li class="dropdown">
				<a  data-toggle="dropdown" href="#">Users</a>
				<ul class="dropdown-menu">
					<li><a  href="/users/register">Register a new user</a></li>
					<li><a href="/users/list">List users</a></li>

					<li class="menu-item dropdown dropdown-submenu"><a href="#">Settings</a>
					<ul class="dropdown-menu">
						<li class="menu-item {{allowUserRegistration}}" id="allow-user-registration"><a href="javascript:changeUsersCanRegister()"><span class="glyphicon glyphicon-ok"></span>New users can register</a></li>
					</ul>
					</li>
				</ul>
			</li>
		{{/if}}
		{{#if power_user}}
			<li class="dropdown">
				<a  data-toggle="dropdown" href="#">Cards </a>
				<ul class="dropdown-menu">
					<li><a href="/cards/register">Register a new card</a></li>
					<li><a href="/cards/list">List cards</a></li>
				</ul>
			</li>

<!--        if you want a image dropdown menu
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#" title="Cards">
					<img src="/images/profile.png" alt="Cards" style="width:20px;height:20px;"><span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="/cards/register">Register a new card</a></li>
					<li><a href="/cards/list">List cards</a></li>
				</ul>
			</li>
-->


			<li class="dropdown">
				<a data-toggle="dropdown" href="#">Controls</a>
				<ul class="dropdown-menu">
					<li><a href="/controls/register">Register a new control</a></li>
					<li><a href="/controls/list">List controls</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Devices </a>
				<ul class="dropdown-menu">
					<li><a href="/devices/register">Register a new device</a></li>
					<li><a href="/devices/list">List devices</a></li>
				</ul>
			</li>
		{{/if}}
		{{#if user}}
			<li role="presentation">
				<a href="/users/profile/{{user._id}}" rel="tooltip" data-placement="bottom" title="Your profile settings">
					<img src="/images/profile.png" alt="Your profile" style="width:20px;height:20px;">
				</a>
			</li>
			<li role="presentation">
				<a href="/users/logout"  rel="tooltip" data-placement="bottom" title="Logout from Ardos">
					<img src="/images/logout.png" alt="Logout from Ardos" style="width:20px;height:20px;">
				</a>
			</li>
		{{else}}
			<li role="presentation"><a href="/users/login">Login</a></li>
			<li role="presentation"><a href="/users/register">Register</a></li>
		{{/if}}
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">?</a>
				<ul class="dropdown-menu">
					<li><a href="/about">About the system</a></li>
					<li><a href="/help">Help</a></li>
					<li class="menu-item dropdown dropdown-submenu"><a href="#">Development</a>
						<ul class="dropdown-menu">
							<li class="menu-item"><a href="/help_development">General</a></li>
							<li class="menu-item"><a href="/docs/controls/controlelements.html" target="_blank">Control elements</a></li>
							<li class="menu-item"><a href="/docs/controls/pin.html" target="_blank">pin class</a></li>
							<li class="menu-item"><a href="/docs/controls/device.html" target="_blank">device class</a></li>
							<li class="menu-item"><a href="https://www.github.com/guttih/ardos" target="_blank">Repository on Github</a></li>
							
						</ul>
					</li>
					<li><a href="/licence">Licence</a></li>
				</ul>
			</li>
		</ul>
	</nav>
	<!--<h3 class="text-muted">Ardos</h3>-->
	<a href="/">
		<img src="/images/logo.png" width="50" height="50"
		alt  ="An operating system for Arduino" 
		title="An operating system for Arduino" >
	</a>
	</div>

<!-- Modal info -->
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Modal Header</h4>
				</div>
			<div class="modal-body">
				<p>Modal Text</p>
			</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" id="btn-confirm" class="btn btn-danger btn-ok">Confirm</button>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-lg-12">
			{{#if success_msg}}
			<div class="alert alert-success">{{success_msg}}</div>
			{{/if}}

			{{#if error_msg}}
			<div class="alert alert-danger">{{error_msg}}</div>
			{{/if}}

			{{#if error}}
			<div class="alert alert-danger">{{error}}</div>
			{{/if}}
			{{{body}}}
		</div>
	</div>
	
	


	<footer class="footer">
	<p>&copy; 2016 Ardos, Inc.</p>
	</footer>

</div> <!-- /container -->
<div id="config" data-settings='{"serverUrl":"http://www.guttih.com:3000"}' />
<script src="/js/main.js"></script>

</body>
</html>
