<div>
	<h3 class="page-header pull-right">About</h3>
</div>
<br/><br/>
<div>




		<table id="table-device" class="table table-bordered table-hover">
		<thead>
			<tr>
				<td colspan="2" style="text-align: center;font-weight: bold">Running version</td>
			</tr>
		</thead>
		<!--<tfoot>
			<tr>
				<td>Sum</td>
				<td>$180</td>
			</tr>
		</tfoot>-->
		<tbody>
			<tr><td>Name</td>       <td>{{package.name}}</td></tr>
			<tr><td>Version</td>    <td>{{package.version}}</td></tr>
			<tr><td>Description</td><td>{{package.description}}</td></tr>
			<tr><td>Homepage</td>   <td><a target="_blank" href="{{package.homepage}}">{{package.homepage}}</a></td></tr>
			<tr><td>Issues</td>     <td><a target="_blank" href="{{package.bugs.url}}">{{package.bugs.url}}</a></td></tr>
			
		</tbody>
		
	</table>

</div>
<br><br><br>
<div>
		<table id="table-device" class="table table-bordered table-hover">
		<thead>
			<tr>
				<td colspan="2" style="text-align: center;font-weight: bold">Author</td>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td>YouTube</td>
				<td><a href="https://www.youtube.com/channel/UCmZFs6SCoeuphnKucBkvcEg" target="_blank">VoffCon channel</a></td>
			</tr>
		</tfoot>
		<tbody>
			<tr><td>Name</td> 		<td>Guðjón Hólm Sigurðsson</td></tr>
			<tr><td>email</td> 		<td>gudjonholm@gmail.com</td></tr>
			<tr><td>Homepage</td>	<td><a href="http://www.guttih.com" target="_blank">www.guttih.com</a></td></tr>
			<tr>
				<td>Other accounts</td> 		
				<td>
						<a href="https://github.com/guttih" target="_blank">Github</a>
						<a href="https://plus.google.com/103373576637237503473" target="_blank">Google+</a>
						<a href="https://www.facebook.com/guttih" target="_blank">Facebook</a>
						<a href="https://www.youtube.com/user/guttih" target="_blank">Youtube channel</a>
						<a href="https://www.youtube.com/user/arduinois" target="_blank">My Arduino channel</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
