<div class="row">

	{{#if title}}	
				<h3 class="page-header pull-right">{{{title}}}</h3>
	</script>
	{{else}}
		<h3 class="page-header pull-right">Running card</h3>
	{{/if}}
</div>
<!--<div class="row">
	<p>{{user.name}}</p>
</div>-->
<br />
<br />

<script src="/js/controls/controlelements.js"></script>
<script src="/js/controls/device.js"></script>
<script src="/js/controls/pin.js"></script>

<div id="top"></div>
<div id="templates" style="position:relative;top:-800px;background:blue">


	{{#if template}}
				{{{template}}}
	{{/if}}
	{{#if code}}
	<script type="text/javascript">
				{{{code}}}
	</script>
	{{/if}}

</div> <!--templates-->
<div id="controls" style="position:relative;min-height: 300px;">
</div>
	{{#if admin}}
	<!--todo: show only for card owners and admin -->
	<div class="row  row-padd">
		<button onclick="changeHref('/run/', '/register/')" class="btn btn-xs btn-success"> 
			<span class="glyphicon glyphicon-edit"></span>&nbsp;edit 
		</button>
	</div>
	{{/if}}
<div id="bottom"></div>

